@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo, effect, directional, revert, explode;

@layer explode {
  nav, nav *:not(span) {
    transform-style: preserve-3d;
  }
  nav {
    transition: transform 0.4s .3s ease-out;
  }
  li {
    transition-property: translate, scale, transform, opacity;
    transition-duration: 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;
  }
  .director {
    transition: opacity 0.4s ease-out;
  }
  li:nth-of-type(3) {
    a {
      transition: clip-path 0.4s ease-out;
    }
    a::after {
      content: '';
      position: absolute;
      inset: 0;
      opacity: 0;
      outline: 2px dashed light-dark(canvasText, #fff);
      outline-offset: 2px;
      transition: opacity 0.4s ease-out;
    }
  }
  [data-explode='true'] {
    transform-style: preserve-3d;
    transform: rotateX(-12deg) rotateY(32deg);

    transition-delay: 0s;

    li {
      transition-delay: 0.4s;
    }

    &[data-directional='true'] {
      li:nth-of-type(3) .director {
        opacity: 0.6;
        transition: opacity 0.4s 1s ease-out;
      }
    }

    li:not(:nth-of-type(3)) {
      opacity: 0.2;
      transform: translate3d(0, 0, -50px);
    }
    li:nth-of-type(3) {
      transform: translate3d(100%, 0, 50px) scale(2);

      a {
        clip-path: inset(-300% -300% -300% -300%);
        overflow: visible;
        transition: clip-path 0.4s 0.8s ease-out;

        &::after {
          opacity: 1;
          transition: opacity 0.4s 1s ease-out;
        }
      }
    }
  }
}

@layer revert {
  [data-revert='false'] {
    /* if you don't want to revert you only transition on :hover, :focus-visible */
    span:not(:empty) {
      transition: none;
    }
    a:is(:hover, :focus-visible) span:not(:empty) {
      transition: translate 0.2s 0.08s ease-out;
    }
  }
}

@layer directional {
  [data-directional='true'] {
    a {
      
      span:not(:empty) {
        pointer-events: none;
        text-shadow: 0 calc(var(--offset) * -1lh) var(--color), 0 calc(var(--offset) * 1lh) var(--color);
      }
      &:hover:not(:has(.director:hover)) .director {
        clip-path: inset(100% 0 0 0);
      }
      .director {
        position: absolute;
        inset: 0;
        background: repeating-linear-gradient(65deg, #0000 0 4px, hsl(280 80% 40%) 4px 5px), hsl(280 80% 40% / 0.4);
        z-index: 30;
        clip-path: inset(50% 0 0 0);
        opacity: 0;
      }
      .director:hover {
        clip-path: inset(0 0 0 0);
      }
      .director:hover ~ span {
        translate: 0 calc(var(--offset) * -1lh);
      }
    }
  }
}

@layer effect {
  nav {
    --offset: 1;
    color: light-dark(canvasText, #fff);
  }
  nav li:nth-of-type(3) a {
    clip-path: inset(0 0 0 0);
    overflow: visible;
  }
  nav a {
    display: inline-block;
    overflow: hidden;
    line-height: 0.9;
    outline-offset: 4px;
    outline-color: var(--color);
    position: relative;

    span:not(:empty) {
      display: inline-block;
      text-shadow: 0 calc(var(--offset) * -1lh) var(--color), 0 calc(var(--offset) * 1lh) color-mix(in hsl, var(--color), #0000 80%);
      transition: translate 0.2s ease-out;
    }
  }
  nav a:is(:hover, :focus-visible) span:not(:empty) {
    translate: 0 calc(var(--offset) * 1lh);
    transition-delay: 0.08s;
  }
}

@layer demo {
  nav {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  nav li {
    display: inline-grid;
  }
  nav a {
    text-decoration: none;
    color: inherit;
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  [data-theme='dark'] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    background: light-dark(#fff, #000);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 80%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        calc(var(--size) * 0.36) 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0%
        calc(var(--size) * 0.32) / var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

div.tp-dfwv {
  width: 280px;
  position: fixed;
}
